*{
    background-color: #FAFAFA;
}
.Navigation li{
    display: inline;
    list-style-type:none;
    padding: 0px;
    margin: 10px;
}
.links{
    
    padding: 10px;
    list-style-type: none;
    background-color: #2549D3;
}
#title{
    font-style: italic;
    font-weight: bold;
}
.Description{
    text-indent: 50px;
}
#left{
    text-align: left;
    display: initial;
}
#right{
    text-align: right;
    display: block;
    list-style-type: none;
}
h1{
    color: #2549D3;
}
h2{
    color: #2549D3;
}
.horizontal{
    display: inline
}
img{
    display: block;
    list-style-type:inline;
}
.Tail{
    text-align: center;
}
.Tail{
    text-align: center;
}
img{
    align-items: inline;
}
#image{
    display: flex;
    justify-content: center;
}
div{
    display: flex;
    justify-content: center;
    list-style-type: none;
}